@import '../css/font-awesome.min.css';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

/* Header */

#header {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('align-items', 'flex-end');
    @include vendor('justify-content', 'space-between');
    background-color:		_palette(accent2, bg);
    background-attachment:	scroll,								fixed;
    background-image:		url('../../images/overlay.png'),			url('../../images/bg.jpg');
    background-position:	top left,							top left;
    background-repeat:		repeat,								no-repeat;
    background-size:		auto,								auto;
    color: _palette(accent2, fg);
    height: 100%;
    left: 0;
    padding: ($size-header-pad * 2) $size-header-pad;
    position: fixed;
    text-align: right;
    top: 0;
    width: $size-header-width;

    > * {
        @include vendor('flex-shrink', '0');
        width: 100%;
    }

    > .inner {
        @include vendor('flex-grow', '1');
        margin: 0 0 ($size-header-pad * 0.5) 0;
    }

    strong, b {
        color: _palette(accent2, fg-bold);
    }

    h2, h3, h4, h5, h6 {
        color: _palette(accent2, fg-bold);
    }

    h1 {
        color: _palette(accent2, fg);
        font-size: 1.35em;
        line-height: 1.75em;
        margin: 0;
    }

    .image.avatar {
        margin: 0 0 (_size(element-margin) * 0.5) 0;
        width: 6.25em;
    }
}

/* Footer */

#footer {
    .icons {
        margin: (_size(element-margin) * 0.5) 0 0 0;

        a {
            color: _palette(accent2, fg-light);
        }
    }

    .copyright {
        color: _palette(accent2, fg-light);
        font-size: 0.8em;
        list-style: none;
        margin: (_size(element-margin) * 0.5) 0 0 0;
        padding: 0;

        li {
            border-left: solid 1px _palette(accent2, border);
            display: inline-block;
            line-height: 1em;
            margin-left: 0.75em;
            padding-left: 0.75em;

            &:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

            a {
                color: inherit;
            }
        }
    }
}